accelerate==1.3.0
datasets==3.2.0
evaluate==0.4.3
faiss-cpu==1.8.0
hdbscan==0.8.36
httpx==0.27.2
julia==0.6.2
networkx==3.1
numpy==1.24.4
openai==1.30.4
openpyxl==3.1.2
pandas==2.2.3
psutil==7.1.3
pybind11==2.10.4
scikit-learn==1.3.2
sentence-transformers==2.3.1
svs
torch==2.5.1
transformers==4.48.1
wandb==0.17.0
